{% extends 'base.html.twig' %}

{% block title %} {{parent()}} {% endblock %}

{% block body %}
  <h1>
    {{ (gram.id) ? "Edition d'un gram" : "Création d'un gram"}}
  </h1>

  <div class="row">
    <div class="col">
      {{ form(form) }}
    </div>
  </div>

  {% if gram.id and entries|length > 0 %}
  <div class="row">
    <div class="col">
      <ul class="list-group">
        <li class="list-group-item list-group-item-secondary">Entrées concernées</li>
        {% for entry in entries %}
          <li class="list-group-item">
            <a href="{{ path("entry_display", {'id': entry.id}) }}" class="btn btn-sm btn-secondary">
              <i class="fas fa-eye"></i>
            </a>
            <a href="{{ path("admin_entry_edit", {'id': entry.id}) }}" class="btn btn-sm btn-secondary">
              <i class="fas fa-pen-square"></i>
            </a>
            {{entry.lemma}}
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>
  {% endif %}

  {% if gram.id and entries|length < 1 %}

    <a data-toggle="modal" data-target="#delete-modal" href="#" class="btn btn-danger btn-sm">{{"gram_delete"|trans}}</a>

    <div class="modal fade" id="delete-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">{{"gram_delete"|trans}}</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            {{"gram_delete_text"|trans}}
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">{{"close"|trans}}</button>
            <a href="{{ path("admin_delete_gram", {'id': gram.id}) }}" class="btn btn-danger">{{"yes_delete"|trans}}</a>
          </div>
        </div>
      </div>
    </div>
    {% endif %}

  {% endblock %}
