{% extends 'base.html.twig' %}

{% block title %} {{parent()}} {% endblock %}

{% block body %}
  <h1>
   Liste des grams
  </h1>
  <a class="btn btn-sm btn-secondary" href="{{path('admin_edit_gram')}}">
    <i class="fas fa-plus"></i> {{"gram_add"|trans}}
  </a>
  <table class="table mt-3">
    <thead>
      <tr>
        <th scope="col">{{'gram_type'|trans}}</th>
        <th scope="col">{{"gram_text"|trans}}</th>
        <th scope="col">Entrées concernées</th>
        <th scope="col">{{"actions"|trans}}</th>
      </tr>
    </thead>
    <tbody>
      {% for gram in grams %}
      <tr>
        <td>{{gram.type}}</td>
        <td>
          {{gram.text}}
        </td>
        <td>
          {{ getEntriesCount(gram) }}
        </td>
        <td>
          <a class="btn btn-sm btn-secondary" href="{{path('admin_edit_gram',{'id':gram.id})}}">
            <i class="fas fa-edit"></i> {{"gram_edit"|trans}}
          </a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
