{% extends 'base.html.twig' %}

{% block title %} {{parent()}} {% endblock %}

{% block body %}
  <h1>
    {{ (cit.id) ? "Edition d'une citation" : "Création d'une citation"}}
    <span class="float-right">
      <a href="{{ path("entry_display", { "id": cit.sense.entry.id } )}}" class="btn btn-sm btn-secondary"><i class="fas fa-book"></i> {{"retour_entree"|trans}}
      </a>
    {% if cit.id %}
    <a data-toggle="modal" data-target="#delete-modal" href="#" class="btn btn-sm btn-danger" href="#">
        <i class="fas fa-trash"></i> {{"delete_cit"|trans}}
    </a>
    {% endif %}
  </span>
  </h1>

  <div class="row">
    <div class="col">
      {{ form(form) }}
    </div>
  </div>

  {% if cit.id %}
  <div class="modal fade" id="delete-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">{{"delete_cit"|trans}}</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          {{"delete_cit_text"|trans}}
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">{{"close"|trans}}</button>
          <a href="{{ path("admin_delete_cit", {'id': cit.id}) }}" class="btn btn-danger">{{"yes_delete"|trans}}</a>
        </div>
      </div>
    </div>
  </div>
  {% endif %}
{% endblock %}
