{% set isAdmin = is_granted('ROLE_ADMIN') %}
{% set isSuperAdmin = is_granted('ROLE_SUPER_ADMIN') %}

<!DOCTYPE html>
<html lang="{{ app.request.locale|split('_')[0] }}">
  <head>
      <meta charset="UTF-8">
      <title>
      {% block title %}{{ appname }} - {% endblock %}
      </title>
      {% block stylesheets %}
      <link href="{{ asset("build/css/template.css") }}" rel="stylesheet" />
      <link href="{{ asset("build/css/project.css") }}" rel="stylesheet" />
      <link href="{{ asset("build/css/toastr.css") }}" rel="stylesheet" />
      {% endblock %}
      {% include('base-includes/tracker.html.twig') %}
  </head>
  <body>
    {% include('base-includes/header.html.twig') %}
    <div class="container-fluid">
      {% include('base-includes/flashmessages.html.twig') %}
      <div class="row">
        <div class="col">
          {% block body %}
          {% endblock %}
        </div>
      </div>
      {% block footer %}
      {% include('base-includes/footer.html.twig') %}
      {% endblock %}
    </div>
    {% block javascripts %}
    <script src="{{ asset("build/runtime.js") }}"></script>
    <script src="{{ asset('bundles/bazingajstranslation/js/translator.min.js') }}"></script>
    <script src="{{ url('bazinga_jstranslation_js') }}"></script>
    <script src="{{ asset('bundles/fosjsrouting/js/router.min.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
    <script src="{{ asset("build/js/vendor.js") }}"></script>
    <script src="{{ asset("build/js/main.js") }}"></script>
    <script src="{{ asset("build/js/search.js") }}"></script>
    {% endblock %}
  </body>
</html>
