{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
<form method="post">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    <h1>{{"connect"|trans}}</h1>

    <div class="form-group">
      <label for="inputUsername" class="sr-only">{{"username"|trans}}</label>
      <input type="text" value="{{ last_username }}" name="username" id="inputUsername" class="form-control" placeholder="{{"username"|trans}}" required autofocus>
    </div>

    <div class="form-group">
      <label for="inputPassword" class="sr-only">{{"password"|trans}}</label>
      <input type="password" name="password" id="inputPassword" class="form-control" placeholder="{{"password"|trans}}" required>
    </div>

    <input type="hidden" name="_csrf_token"value="{{ csrf_token('authenticate') }}">

    <div class="checkbox mb-3">
        <label>
            <input type="checkbox" name="_remember_me"> {{"_remember_me"|trans}}
        </label>
    </div>

    <button class="btn btn-primary" type="submit">
        {{"connect"|trans}}
    </button>
</form>
<div>
    <a href="{{ path('app_forgotten_password') }}">{{"forgotten_password"|trans}}</a>
</div>
{% endblock %}
