h1 {
  margin-bottom: 20px;
  color: #A60321;
  font-family: 'EB Garamond';
  margin-bottom: 3rem;
  font-weight: 100;
  font-size: 3rem;
}

h1.entries {
  border: 0;
  font-weight: 100;
  font-size: 3rem;
  margin-bottom: 3rem;
  font-family: 'EB Garamond';
}

h1.index {
  border: 0;
  font-weight: 100;
  font-size: 3rem;
  font-family: 'EB Garamond';
  text-align: center;
  margin-bottom: 1rem;
}

h1.index:not(:first-child) {
  margin-top: 2rem;
}

h1.search-results {
  border: 0;
  margin-bottom: 3rem;
  font-family: 'EB Garamond';
  font-weight: 100;
  font-size: 3rem;
}

h1.entry-title {
  border: 0;
  font-weight: 100;
  font-size: 3rem;
  text-align: center;
  margin-bottom: 3rem;
  font-family: 'EB Garamond';
}

h2.entry-sense-title {
  border-left: 0.5rem solid #6c757d;
  padding-left: 12px;
  margin-bottom: 1rem;
}

.sense-card h2,
.sense-card h3,
.sense-card h4 {
  font-family: 'EB Garamond';
  font-variant: small-caps;
}

.sense-card {
  border: 0;
  margin-bottom: 3rem;
}

.sense-card .card-body {
  padding-top: 0;
}

.sense-card .card-body .list-group-item {
  border-radius: 0;
}

.sense-card .card-body a {
  color: #A60321;
}

.col-sense {
  border-right: 2px dotted lightgrey;
}

h2,
.lead {
  color: #A60321;
}

mark2 {
  padding: .2em;
  background-color: #fcf8e3;
}

fleur {
  padding: .2em;
  font-style: italic;
}

.bibl {
  font-style: italic;
}

nonit {
  font-style: normal;
}

author {
  font-style: normal;
}