/*import de bootstrap*/
@import "~bootstrap/dist/css/bootstrap.min.css";

/* FOOTER */
#footer {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
}

#footer img {
  height: 42px;
  margin-right: 12px;
  margin-bottom: 12px;
}

#footer .links a {
  display: block;
}

#footer .logos a:hover {
  text-decoration: none;
}

/* EVERYWHERE */
.container-fluid {
  padding-top: 10px;
}

body{
  padding-bottom: 200px;
}

:focus, :active, :active:focus{
  outline:none;
}

.reset{
  color:black;
  font-size: 1rem;
  font-weight: normal;
}
