{% extends 'base.html.twig' %}

{% block title %} {{parent()}} {% endblock %}

{% block body %}
  <h1>
    {{ (note.id) ? "Edition d'une note" : "Création d'une note"}}

    <span class="float-right">
      <a href="{{ path("entry_display", { "id": note.sense.entry.id } )}}" class="btn btn-sm btn-secondary"><i class="fas fa-book"></i> {{"retour_entree"|trans}}
      </a>
      {% if note.id %}
      <a data-toggle="modal" data-target="#delete-modal" href="#" class="btn btn-sm btn-danger" href="#">
          <i class="fas fa-trash"></i> {{"delete_note"|trans}}
      </a>
      {% endif %}
    </span>
  </h1>

  <div class="row">
    <div class="col">
      {{ form_start(form) }}
      {{ form_row(form.type) }}
      <h3> Références
        <a class="float-right btn btn-sm btn-secondary" id="addXr" href="#">
            <i class="fas fa-plus-square"></i> {{"add_reference_note" | trans}}
        </a>
      </h3>
      <div class="row xrs" data-prototype="{{ _self.formXr(form.xrs.vars.prototype)|e('html_attr') }}">
          {% for xr in form.xrs %}
            {{ _self.formXr(xr) }}
          {% endfor %}
      </div>
      {{form_end(form)}}
    </div>
  </div>

  {% if note.id %}
  <div class="modal fade" id="delete-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">{{"delete_note"|trans}}</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          {{"delete_note_text"|trans}}
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">{{"close"|trans}}</button>
          <a href="{{ path("admin_delete_note", {'id': note.id}) }}" class="btn btn-danger">{{"yes_delete"|trans}}</a>
        </div>
      </div>
    </div>
  </div>
  {% endif %}
  {{ tinymce_init() }}

{% endblock %}

{% macro formXr(form) %}
    <div class="xr-element col-6 mb-3">
      <div class="card">
        <div class="card-body">
        {{ form_row(form.type) }}
        {{ form_row(form.ref) }}
        {{ form_row(form.gloss) }}
      </div>
      </div>
    </div>
{% endmacro %}


{% block javascripts %}
  {{parent()}}
  <script src="{{ asset("build/js/prototype.js") }}"></script>
{% endblock %}
