{% extends 'base.html.twig' %}

{% block title %} {{parent()}} {{"debug"|trans}}{% endblock %}

{% block body %}
  <h1>{{"debug"|trans}}</h1>
    

    <details class="mb-4">
        <summary>XRs (entrées)</summary>

        <details class="ml-4 mb-4">
            <summary>Valeurs distinctes</summary>
            <ul class="list-group">
            {% for value in xrValuesEntry %}
                <li class="list-group-item">
                "{{ value.type }}"
                </li>
            {% endfor %}
            </ul>
        </details>
    
        <ul class="list-group">
        {% for xr in xrsEntry %}
            <li class="list-group-item">
                <a class="btn btn-sm btn-secondary" href="{{ path("admin_xr_edit", {"id": xr.id, "entryId": xr.entry.id}) }}">
                    <i class="fas fa-pen-square"></i>
                </a>
                <span class="text-muted">
                    <a href="{{ path("entry_display", { "id": xr.entry.id } )}}">{{xr.entry.cleanLemma}}</a>
                </span>
                 {{xr.type}}
            </li>
        {% endfor %}
        </ul>
    </details>

    <details class="mb-4">
        <summary>XRs (notes)</summary>

        <details class="ml-4 mb-4">
            <summary>Valeurs distinctes</summary>
            <ul class="list-group">
            {% for value in xrValuesNote %}
                <li class="list-group-item">
                "{{ value.type }}"
                </li>
            {% endfor %}
            </ul>
        </details>

        <ul class="list-group">
        {% for xr in xrsNote %}
            <li class="list-group-item">
                <a class="btn btn-sm btn-secondary" href="{{ path("admin_note_edit", {"id": xr.note.id, "senseId": xr.note.sense.id}) }}">
                <i class="fas fa-pen-square"></i>
                </a>
               <span class="text-muted">
                 <a href="{{ path("entry_display", { "id": xr.note.sense.entry.id } )}}">{{xr.note.sense.entry.cleanLemma}}</a>
               </span> {{xr.type}}
            </li>
        {% endfor %}
        </ul>
    </details>

{% endblock %}
