<div id="footer" class="p-2 bg-light">
  <div class="row text-center">
    <div class="col-8 logos">
      <a target="_blank" href="http://www.sorbonne-universite.fr/">
        <img src="{{asset('img/logo_sorbonne.jpg')}}"/>
      </a>
      <a target="_blank" href="https://www.univ-grenoble-alpes.fr/">
        <img src="{{asset('img/logo_univ_grenoble_alpes.jpg')}}"/>
      </a>
      <a target="_blank" href="http://www.cnrs.fr">
        <img src="{{asset('img/logo_cnrs.jpg')}}"/>
      </a>
      <a target="_blank" href="https://demarreshs.hypotheses.org/">
        <img src="{{asset('img/logo_demarre_shs.jpg')}}"/>
      </a>
      <a target="_blank" href="http://litt-arts.univ-grenoble-alpes.fr/">
        <img src="{{asset('img/logo_littarts.png')}}"/>
      </a>
      <a target="_blank" href="https://www.huma-num.fr/">
        <img src="{{asset('img/logo_hn.jpg')}}"/>
      </a>
      <a target="_blank" href="http://www.elan-numerique.fr/">
        <img src="{{asset('img/logo_elan.png')}}"/>
      </a>
      <a target="_blank" href="http://www.dim-humanites-numeriques.fr/">
        <img src="{{asset('img/logo_dimsctn.png')}}"/>
      </a>
    </div>
    <div class="col text-left links">
      <a href="{{path("legal_notices")}}">{{"mentions_legales"|trans}}</a>
      <a target="_blank" href="https://gricad-gitlab.univ-grenoble-alpes.fr/elan/dfsm">{{"source_code"|trans}}</a>
    </div>
  </div>
</div>
