<nav class="navbar navbar-expand navbar-light bg-light">
  <div class=" w-100 order-1 order-md-0">
    <div class="navbar-nav mr-auto">
      <a class="navbar-brand" href="{{ path('homepage') }}">
        <i class="fas fa-feather-alt"></i> {{ appname }}
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="fas fa-paragraph"></i> <span class="d-none d-lg-inline">Pages éditoriales</span>
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="{{ path('edito_display', {"name": "team"}) }}">
            <i class="fas fa-users"></i> {{"team"|trans}}
          </a>
          <a class="dropdown-item" href="{{ path('edito_display', {"name": "project_history"}) }}">
            <i class="fas fa-history"></i> {{"project_history"|trans}}
          </a>
          <a class="dropdown-item" href="{{ path('edito_display', {"name": "corpus"}) }}">
            <i class="fas fa-book"></i> {{"corpus"|trans|raw}}
          </a>
          <a class="dropdown-item" href="{{ path('edito_display', {"name": "publications"}) }}">
            <i class="far fa-newspaper"></i> {{"bibliographie"|trans}}
          </a>
          <a class="dropdown-item" href="{{ path('edito_display', {"name": "charte"}) }}">
            <i class="fas fa-gavel"></i> {{"charte"|trans}}
          </a>
        </div>
      </li>

      {% include('entry/partial/search.html.twig') %}
      <a class="nav-item nav-link" href="#" data-toggle="modal" data-target="#searchModal">
        <i class="fas fa-search"></i> <span class="d-none d-lg-inline">{{"search"|trans}}</span>
      </a>
      {% include('entry/partial/advanced-search.html.twig') %}
      <a class="nav-item nav-link" href="#" data-toggle="modal" data-target="#advancedSearchModal">
        <i class="fas fa-search-plus"></i> <span class="d-none d-lg-inline">{{"advanced-search"|trans}}</span>
      </a>

      {% include('entry/partial/indexes.html.twig') %}
      <a class="nav-item nav-link" href="#" data-toggle="modal" data-target="#initialModal">
        <i class="fas fa-list"></i> <span class="d-none d-lg-inline">{{"index"|trans}}</span>
      </a>

    </div>
  </div>
  <div class="navbar-collapse collapse w-100 order-2">
    <ul class="navbar-nav ml-auto">
      {% if isAdmin %}
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="fas fa-tools"></i> <span class="d-none d-lg-inline">Administration</span>
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          {% if isSuperAdmin %}
          <a class="dropdown-item" href="{{ path('admin_list_users') }}">
            <i class="fas fa-users-cog"></i> {{"users"|trans}}
          </a>
          <div class="dropdown-divider"></div>
          {% endif %}
          <a class="dropdown-item" href="{{ path('admin_entry_edit') }}">
            <i class="far fa-plus-square"></i> {{"add_entry"|trans}}
          </a>
          {# <a class="dropdown-item" href="{{ path('admin_import_xml') }}">
            <i class="fas fa-file-alt"></i> {{"upload_xml"|trans}}
          </a> #}
          {% if isSuperAdmin %}
          {# <a class="dropdown-item" href="{{ path('admin_import_zip') }}">
            <i class="far fa-file-archive"></i> {{"upload_zip"|trans}}
          </a> #}
          {% endif %}
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="{{ path('admin_list_invalid') }}">
            <i class="fas fa-exclamation-triangle"></i> {{"list_invalid"|trans}}
          </a>
          <a class="dropdown-item" href="{{ path('admin_list_last_edited_entries') }}">
            <i class="fas fa-edit"></i> {{"last_edited_entries"|trans}}
          </a>
          <a class="dropdown-item" href="{{ path('admin_list_last_created_entries') }}">
            <i class="fas fa-plus-square"></i> {{"last_created_entries"|trans}}
          </a>
          <a class="dropdown-item" href="{{ path('admin_last_logs') }}">
            <i class="fas fa-plus-square"></i> {{"last_logs"|trans}}
          </a>
          {% if isSuperAdmin %}
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="{{ path('admin_gram_list') }}">
            <i class="far fa-edit"></i> {{"edit_gram"|trans}}
          </a>
          <a class="dropdown-item" href="{{ path('admin_domain_list') }}">
            <i class="far fa-edit"></i> {{"edit_domain"|trans}}
          </a>
          <a class="dropdown-item" href="{{ path('admin_debug') }}">
            <i class="fas fa-cog"></i> {{"debug"|trans}}
          </a>
          {% endif %}
        </div>
      </li>
      {% endif %}

      {% if not is_granted('IS_AUTHENTICATED_REMEMBERED') %}
        <li class="nav-item">
          <a class="nav-item nav-link" href="{{ path('app_register') }}">{{"register"|trans}}</a>
        </li>
        <li class="nav-item">
          <a class="nav-item nav-link" href="{{ path('app_login') }}">{{"connect"|trans}}</a>
        </li>
      {% else %}
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-user"></i> {{ app.user.username }} 
            {% if isSuperAdmin %}
              (Administrateur)
            {% elseif (isAdmin) %}
              (Collaborateur)            
            {% endif %}
          </a>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="{{ path('edit_user') }}">
              <i class="far fa-edit"></i> {{"edit_user"|trans}}
            </a>
            <a class="dropdown-item" href="{{ path('app_logout') }}">
              <i class="fas fa-sign-out-alt"></i> {{"logout"|trans}}
            </a>
          </div>
        </li>
      {% endif %}
    </ul>
  </div>
</nav>
