{% extends 'base.html.twig' %}

{% import "domain/macros.html.twig" as domainMacros %}

{% block title %} {{parent()}} {{entry.lemma}}{% endblock %}

{% block footer %} {% endblock %}

{% block body %}

  <div class="text-right">
      {% if isAdmin %}
      <a href="{{ path("admin_entry_edit", {'id': entry.id}) }}" class="btn btn-sm btn-outline-secondary">
        <i class="fas fa-pen-square"></i> {{"modify"|trans}}
      </a>
      {% include('entry/partial/log.html.twig') %}
      {% endif %}
      {% include('entry/partial/export-btns.html.twig') %}
  </div>

  <h1 class="entry-title">
    {{ entry.lemma }}
  </h1>

  <div class="row">

  {% if entry.xrs is not empty %}
   <div class="col-12 mb-4">
      <div class="alert alert-dark">
      {% for xr in entry.xrs %}
        {{ _self.xr2display(xr) }}
      {% endfor %}
      </div>
  </div>
  {% endif %}

  {% for i, sense in sensesSorted(entry) %}
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 col-xl-4 col-12 mb-4 col-sense">
      <div class="card sense-card">
        {% if sense.imgPath %}
          <img class="card-img-top" src="{{asset('data/images/' ~ sense.imgPath)}}">
        {% endif %}
        <div class="card-body">
          <h2 class="card-title entry-sense-title">
            {% if isAdmin %}
            <a href="{{path('admin_sense_edit', {'entryId': entry.id, 'id': sense.id} )}}" class="btn btn-sm btn-outline-secondary">
              <i class="fas fa-pen-square"></i>
            </a>
            {% endif %}
            {{ entry.lemma }} {% if sense.usg %}({{sense.usg}}){% endif %}<br/>
            <small class="text-muted">
              {{ domainMacros.display(sense.domain) }}
            </small>
          </h2>

          <div>
            {% for gram in entry.grams %}
              {{gram.text}}
            {% endfor %}
            {% if entry.etym and (entry.etym.src or entry.etym.mentioned) %}
            <p>
              <span class="text-muted">Etym </span>{{ entry.etym.src }}
              {{ entry.etym.mentioned }}
            </p>
            {% endif %}
            <p>{{sense.def | raw}}</p>
          </div>

          {% if sense.notes is not empty %}
            <h4 class="mt-3">Notes</h4>
            <ul class="list-group mt-3">
              {% for note in sense.notes %}
                <li class="list-group-item">
                  {% for xr in note.xrs %}
                  {{ _self.xr2display(xr) }}
                  {% endfor %}
                </li>
              {% endfor %}
            </ul>
          {% endif %}

          {% if sense.cits is not empty %}
            <h4 class="mt-3">Citations</h4>
            <ul class="list-group mt-3">
              {% for cit in sense.cits %}
                <li class="list-group-item">
                  {{ cit.quote | raw }}
                  <br/> <span class="bibl">{{ cit.biblText | raw }}</span>
                </li>
              {% endfor %}
          </ul>
          {% endif %}
        </div>
      </div>
    </div>
  {% endfor %}
  </div>
{% endblock %}


{% macro xr2display(xr) %}
  <p>
    <span class="text-muted">{{ xr.type }}</span>
    {% set xrId = getXrLink(xr.ref) %}
    {% if xrId %}
      <a href="{{ path("entry_display", {"id": xrId} )}}">{{ xr.ref }}</a>
    {% else %}
        {{ xr.ref }}
    {% endif %}

    {% if xr.gloss %}
        <span class="text-muted">{{"gloss"|trans}} </span>
      {{ xr.gloss|raw }}
    {% endif %}
  </p>
{% endmacro %}
