<html>
    <head>
        <meta charset="UTF-8">
        <title>{{entry.cleanLemma}}</title>
        <style>
          .page_break {
            page-break-before: always;
          }
          h1 {
            border-bottom: 1px solid #A60321;
            margin-bottom: 20px;
            color: #A60321;
            text-align: center;
          }
          h2 {
            color: #A60321;
          }
          mark,
          mark2 {
            padding: 0.2em;
            background-color: #fcf8e3;
          }
          fleur {
            padding: 0.2em;
            font-style: italic;
          }
          .bibl {
            font-style: italic;
          }
          nonit {
            font-style: normal;
          }
          author {
            font-style: normal;
          }
          .grey {
            color: grey;
          }
          .black {
            color: black;
          }
          .justify {
            text-align: justify;
          }
          .small {
            font-size: 90%;
          }
          img{
            max-width: 30%;
          }
          .center{
            text-align: center;
          }
        </style>
    </head>
    <body>
      <h1>
        {{ entry.lemma }} <br/>
        <span class="grey small"> (export du DFSM au {{ "now"|date("d/m/Y à H:i") }})</span>
        <br/>
      </h1>

      {% if entry.xrs is not empty %}
      <div>
      {% for xr in entry.xrs %}
        {{ _self.xr2display(xr) }}
      {% endfor %}
      </div>
      {% endif %}

      {% for i, sense in sensesSorted(entry) %}
        <h2>
          <span class="black">[{{i+1}}]</span> {{ entry.lemma }} {% if sense.usg %}({{sense.usg}}){% endif %}
          <span class="black">{{ _self.display(sense.domain) }}  </span>
        </h2>

        <div>
          {% if sense.imgPath %}
            <div class="center">
              {% set url = "../public/data/images/" ~ sense.imgPath %}
              <img src="{{ url }}" />
            </div>
          {% endif %}

          {% for gram in entry.grams %}
            {{gram.text}}
          {% endfor %}
          {% if entry.etym and (entry.etym.src or entry.etym.mentioned) %}
          <p>
            <span class="grey">Etymologie </span>
            {{ entry.etym.src }}
            {{ entry.etym.mentioned }}
          </p>
          {% endif %}
          {% if sense.def %}
            <p>
              <span class="grey">Définition </span>
              {{sense.def|raw}}
            </p>
          {% endif %}
        </div>

        {% if sense.notes is not empty %}
          <h3>Notes</h3>
          <ul>
            {% for note in sense.notes %}
              <li>
                {% for xr in note.xrs %}
                {{ _self.xr2display(xr) }}
                {% endfor %}
              </li>
            {% endfor %}
          </ul>
        {% endif %}

        {% if sense.cits is not empty %}
          <h3>Citations</h3>
          <ul class="list-group mt-3">
            {% for cit in sense.cits %}
              <li class="list-group-item">
                {{ cit.quote | raw }}
                <br/>
                <div class="bibl">{{ cit.biblText | raw }}</div>
              </li>
            {% endfor %}
        </ul>
        {% endif %}

        {% if i + 1 < entry.senses|length %}
        <div class="page_break"></div>
        {% endif %}
      {% endfor %}
  </body>
</html>

{% macro xr2display(xr) %}
    <span class="grey">{{ xr.type }}</span> {{ xr.ref }}
    {% if xr.gloss %}
      <p class="justify">
        <span class="grey">Glose </span>
        {{ xr.gloss|raw }}
      </p>
    {% endif %}
{% endmacro %}

{% macro display(domain) %}
  {{ domain.medValue ? domain.medValue : domain.medValueShort }} -
  {{ domain.modValue ? domain.modValue : domain.modValueShort }}
{% endmacro %}
