{% extends 'base.html.twig' %}

{% import "domain/macros.html.twig" as domainMacros %}

{% block title %} {{parent()}} {{entry.lemma}}{% endblock %}

{% block body %}
  <h1>
    {{ (entry.id) ? "Edition de "~entry.lemma : "Création d'une entrée"}}
    <span class="float-right">
      {% if entry.id %}
        <a href="{{ path("entry_display", { "id": entry.id } )}}" class="btn btn-sm btn-secondary"><i class="fas fa-book"></i> 
          Voir l'entrée
        </a>
        {% if isSuperAdmin %}
          {% set isValid = entry.valid %}
          <a href="{{ path("admin_toggle_valid", {'id': entry.id}) }}" class="btn btn-sm btn-{{ isValid ? "danger" : "success" }}">
            <i class="fas fa-check-circle"></i> {{ isValid ? "invalid"|trans : "valid"|trans }}
          </a>
          {% if isValid == false %}
            <a data-toggle="modal" data-target="#delete-modal" href="#" class="btn btn-sm btn-danger">
            <i class="fas fa-trash"></i> {{"delete_entry"|trans}}
            </a>
          {% endif %}
        {% endif %}
        {% include('entry/partial/log.html.twig') %}
        {% include('entry/partial/export-btns.html.twig') %}
      {% endif %}
    </span>
  </h1>

  <div class="row">
    <div class="col">
      {{ form(form) }}
    </div>
    <div class="col">
    {% if entry.id %}
      {% if entry.xrs %}
        <ul class="list-group">
          <li class="list-group-item list-group-item-secondary">
            Références
            <a class="float-right btn btn-sm btn-secondary" href="{{ path("admin_xr_edit", {"entryId": entry.id}) }}">
                <i class="fas fa-plus-square"></i> {{"add_reference" | trans}}
            </a>
          </li>
          {% if entry.xrs is not empty %}
            {% for xr in entry.xrs  %}
            <li class="list-group-item">
              <a class="btn btn-sm btn-secondary" href="{{ path("admin_xr_edit", {"id": xr.id, "entryId": entry.id}) }}">
                <i class="fas fa-pen-square"></i> {{"modify"|trans}}
              </a>
              {{ xr.type }} - {{ xr.ref }}
            </li>
            {% endfor %}
          {% endif %}
        </ul>

        {% endif %}
      {% endif %}
      {% if entry.id %}
      <ul class="mt-3 list-group">
        <li class="list-group-item list-group-item-secondary">
          Sens
          <a class="float-right btn btn-sm btn-secondary" href="{{ path("admin_sense_edit", {"entryId": entry.id}) }}">
              <i class="fas fa-plus-square"></i> Ajouter un sens
          </a>
        </li>
        {% if entry.senses is not empty %}
          {% for sense in sensesSorted(entry)  %}
          <li class="list-group-item">
            <a class="btn btn-sm btn-secondary" href="{{ path("admin_sense_edit", {"id": sense.id, "entryId": entry.id}) }}">
              <i class="fas fa-pen-square"></i> {{"modify"|trans}}
            </a>
            {{ domainMacros.display(sense.domain) }}
            <p>{{ sense.def | raw}}</p>
          </li>
          {% endfor %}
        {% endif %}
      </ul>
      {% endif %}
    </div>
  </div>

  {% if entry.id %}
  <div class="modal fade" id="delete-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">{{"delete_entry"|trans}}</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          {{"delete_entry_text"|trans}}
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">{{"close"|trans}}</button>
          <a href="{{ path("admin_delete_entry", {'id': entry.id}) }}" class="btn btn-danger">{{"yes_delete"|trans}}</a>
        </div>
      </div>
    </div>
  </div>
  {% endif %}
{% endblock %}
