<?xml version="1.0" encoding="utf-8"?>

<?xml-model href="http://www.tei-c.org/release/xml/tei/custom/schema/relaxng/tei_all.rng" type="application/xml" schematypens="http://purl.oclc.org/dsdl/schematron"?>
<?xml-model href="http://www.tei-c.org/release/xml/tei/custom/schema/relaxng/tei_all.rng" type="application/xml" schematypens="http://relaxng.org/ns/structure/1.0"?>

<TEI xmlns="http://www.tei-c.org/ns/1.0" xmlns:html="http://www.w3.org/1999/xhtml">
   <teiHeader>
      <fileDesc>
         <titleStmt>
            <title>Transcription XML-TEI de l'entrée {{entry.cleanLemma}} du Dictionnaire du Français Scientifique Médiéval</title>
         </titleStmt>
         <editionStmt>
            <edition>Édition électronique du Dictionnaire du Français Scientifique Médiéval</edition>
            <respStmt>
               <resp>Responsable du projet :</resp>
               <persName xml:id="fvigneron">
                  <forename>Fleur</forename>
                  <surname>Vigneron</surname>
                  <affiliation>Université Grenoble Alpes, UMR Litt&amp;Arts</affiliation>
               </persName>
               <persName xml:id="jducos">
                  <forename>Joëlle</forename>
                  <surname>Ducos</surname>
                  <affiliation>Sorbonne-Université, EA STIH</affiliation>
               </persName>
            </respStmt>
            {% if entry.auteur %}
            <respStmt>
               <resp>Auteur</resp>
               <persName>{{entry.auteur}}</persName>
            </respStmt>
            {% endif %}
         </editionStmt>
         <publicationStmt>
            <authority sameAs="#fvigneron"/>
            <authority sameAs="#jducros"/>
            <distributor>ELAN - Litt&amp;Arts (UMR 5316)</distributor>
            <date>{{ "now"|date("m/d/Y") }}</date>
            <idno type="DOI" subtype="repository"/>
            <idno type="URI" subtype="repository"/>
            <availability>
               <licence target="https://creativecommons.org/licenses/by-nc-sa/4.0/deed.fr">Ce fichier de transcription est disponible selon les termes de la Licence Creative Commons Attribution - Pas d’utilisation commerciale - Partage dans les mêmes conditions 4.0 International (CC BY-NC-SA 4.0 DEED).</licence>
               <ab>Citer ce fichier : <bibl>Fleur Vigneron et al. {{ 'now' | date('Y') }}.
                  Transcription XML-TEI de l'entrée {{entry.cleanLemma}} du Dictionnaire du Français Scientifique Médiéval, ELAN (Litt&amp;Arts, UMR 5316) [En ligne : <ref target="https://dfsm.elan-numerique.fr">https://dfsm.elan-numerique.fr</ref>].
                  </bibl>
               </ab>
            </availability>
         </publicationStmt>
         <sourceDesc>
            <bibl>L'ensemble des sources du projet sont disponibles sur https://dfsm.elan-numerique.fr</bibl>
         </sourceDesc>
      </fileDesc>
      <profileDesc>
         <langUsage>
            <language ident="fr">français</language>
         </langUsage>
      </profileDesc>
      <revisionDesc>
         <change when="202412">
            <desc>
               Mise au format XML-TEI des données du projet
               <persName>Fanny Mezard</persName>
            </desc>
            <desc>
               Mise en place de l'export sur le site
               <persName>Arnaud Bey</persName>
            </desc>
         </change>
         {% set logs =  getEntryLogsGrouped(entry) %}
         {% for usersLog in logs %}
            <change when="{{usersLog.date|date("Ymd")}}">
               <desc>
                  Dernière modification de l'utilisateur 
                  <persName>{{usersLog.user.username}}</persName>
               </desc>
            </change>
         {% endfor %}
      </revisionDesc>
   </teiHeader>
   <text>
      <body>
         <entry>
            {% if entry.grams is not empty %}
            <gramGrp>
            {% for gram in entry.grams %}
               <gram type="{{gram.type}}">{{gram.text}}</gram>
            {% endfor %}
            </gramGrp>
            {% endif %}
            
            <form>
              <orth type="autorite">{{entry.lemma}}</orth>
               {% for xr in entry.xrs %}
                  {% if xr.type == "var" %}
                  <orth type="var">{{xr.ref}}</orth>
                  {% endif %}
               {% endfor %}
            </form>

            {% for xr in entry.xrs %}
               {% if xr.gloss %}
               <gloss>
               {{ xr.gloss | raw | cleanExport | raw }}
               </gloss>
                {% elseif xr.gloss == "" and xr.type != "var" %}
               <lbl {% if xr.type %}type="{{xr.type}}"{% endif %}>{{xr.ref}}</lbl>
               {% endif %}
            {% endfor %}

            {% if entry.etym and (entry.etym.src or entry.etym.mentioned) %}
            <etym>
               {% if entry.etym.src %}
               <bibl type="etymosrc">{{entry.etym.src}}</bibl>
               {% endif %}
               {% if entry.etym.mentioned %}
               <mentioned>{{entry.etym.mentioned}}</mentioned>
               {% endif %}
            </etym>
            {% endif %}

            {% for sense in entry.senses %}
            <sense ana="{{sense.domain.medValueShort}} {{sense.domain.modValueShort}}">
            
               {% if sense.imgPath %}
               <figure>
                  <graphic url="https://dfsm.elan-numerique.fr/data/images/{{sense.imgPath}}"/>
               </figure>
               {% endif %}

               {% if sense.usg %}
               <usg>
                  {{sense.usg}}
               </usg>
               {% endif %}

            {% set i = 1 %}
            {% for note in sense.notes %}
               {% for xr in note.xrs %}
                  {% if xr.gloss %}
               <gloss n={{i}}>
                  {{ xr.gloss | raw | cleanExport | raw }}
               </gloss>
                  {% endif %}
               {% endfor %}

               {% for xr in note.xrs %}
                  {% if xr.type == "var" %}
               <orth type="var" n={{i}}>{{xr.ref}}</orth>
                  {% elseif xr.gloss == "" %}
               <lbl type="{{xr.type}}" n={{i}}>{{xr.ref}}</lbl>
                  {% endif %}
               {% endfor %}
               {% set i = i+1 %}
            {% endfor %}
            
            {% if sense.def %}
            <def>
               {{sense.def | raw | cleanExport | raw }}
            </def>
            {% endif %}

            {% if sense.cits is not empty %}
               <cit>
               {% for cit in sense.cits %}
               <quote>
                  {{ cit.quote | raw | cleanExport | raw}}
               </quote>
               <bibl n="{{cit.chronologicalIndex ? cit.chronologicalIndex : 0}}">
                  {{ cit.biblText | raw | cleanExport | raw }}
               </bibl>
               {% endfor %}
               </cit>
            {% endif %}

            </sense>
         {% endfor %}
         </entry>
      </body>
   </text>
</TEI>