{% extends 'base.html.twig' %}

{% block title %} {{parent()}} {{"list"|trans}}{% endblock %}

{% block body %}
  {% if entries is defined %}
    <h1 class="m-0 entries">Entrées <br/>
      <span class="text-muted">
        {{ from|trans }} {{ value ? "("~value|trans~")" : "" }}
      </span>
    </h1>

    {% if entries is not empty %}
    {% include "entry/searchFilter.html.twig" %}
      <div style="column-count:5">
        {% for entry in entries %}
          {% if not entry.isVariante or isAdmin %}
          <div class="p-1 entry" data-lemma="{{ entry.lemma }}" data-cleanlemma="{{ entry.cleanLemma }}">
            <a href="{{ path("entry_display", { "id": entry.id } )}}">{{entry.lemma}}</a>
          </div>
          {% endif %}
        {% endfor %}
      </div>
      {% else %}
        <div class="alert alert-warning">
          Aucun résultat pour la requête.
        </div>
    {% endif %}
  {% endif %}
{% endblock %}
{% block javascripts %}
  {{ parent() }}
  <script src="{{asset("build/js/filterEntry.js")}}"></script>
{% endblock %}
