{% extends 'base.html.twig' %}

{% import "domain/macros.html.twig" as domainMacros %}

{% block title %} {{parent()}} {{ search }}{% endblock %}

{% block body %}
    {% set exactMatches = results.exactMatch %}
    {% set partialMatches = results.partialMatch %}

    <h1 class="search-results">Résultats pour la recherche <span class='text-muted'>{{ search }}</span></h1>
    {% if exactMatches is empty and partialMatches is empty %}
      <div class="alert alert-warning">Pas de résultats</div>
    {% else %}
      {% if exactMatches is not empty %}
        <h3>Correspondances exactes</h3>
        <div class="row">
        {% for match in exactMatches %}
          <div class="col-4">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">{{match.lemma}}</h5>
                <h6 class="card-subtitle mb-2 text-muted">
                  {% if match.senses is not empty %}
                    Entrée comportant {{match.senses|length}} sens dans les domaines suivants
                    {% set domains = [] %}
                    {% for sense in match.senses %}
                      {% if sense.domain not in domains %}
                      <br/>- {{ domainMacros.display(sense.domain) }}
                      {% endif %}
                    {% endfor %}
                  {% endif %}
                </h6>
                <a href="{{ path("entry_display", { "id": match.id } )}}" class="card-link">Voir l'entrée</a>
              </div>
            </div>
          </div>
        {% endfor %}
        </div>
      {% endif %}

      {% if partialMatches is not empty %}
        <h3 class="mt-4">Correspondances partielles</h3>
        <div style="column-count:5">
          {% for match in partialMatches %}
          <div>
            <a href="{{ path("entry_display", { "id": match.id } )}}">{{match.lemma}}</a>
          </div>
          {% endfor %}
        </div>
      {% endif %}
    {% endif %}

{% endblock %}
