{% extends 'base.html.twig' %}

{% block title %}
  {{parent()}} - Logs
{% endblock %}

{% block body %}
  <h1>
    {{"last_logs"|trans}}
  </h1>

  <table class="table mt-3">
    <thead>
      <tr>
        <th scope="col">{{'date'|trans}}</th>
        <th scope="col">{{"entry"|trans}}</th>
        <th scope="col">{{"comment"|trans}}</th>
        <th scope="col">{{"user"|trans}}</th>
      </tr>
    </thead>
    <tbody>
      {% for log in logs %}
        <tr>
          <td>{{log.date|date("d/m/Y à H:i")}}</td>
          <td>
            <a href="{{ path("entry_display",{ "id": log.entry.id } )}}">
              {{log.entry.cleanLemma}}
            </a>
          </td>
          <td>
            {{log.comment}}
          </td>
          <td>
            {{log.user.username}}
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
