{% extends 'base.html.twig' %}

{% block title %} {{parent()}} {{"homepage"|trans}}{% endblock %}

{% block body %}
  <div class="jumbotron">
    <div class="container">
      <h2 class="display-4">
        <i class="fas fa-feather-alt"></i> DFSM
      </h2>
      <p class="lead font-italic">Dictionnaire du Français Scientifique Médiéval</p>
    </div>
  </div>
  <div class="text-justify">
    <p style="text-indent:20px">Quand et comment apparaissent les premiers termes scientifiques en français ? Le <span class="font-italic">Dictionnaire du Français Scientifique Médiéval</span> a pour ambition de donner un inventaire des créations terminologiques dès le XII<sup>e</sup> siècle et jusqu’au XV<sup>e</sup> siècle, pour des domaines dont le périmètre scientifique s’élabore et se précise lors de cette période.</p>

    <p style="text-indent:20px">Cet inventaire permet une connaissance de la genèse du français et de ses usages spécialisés dans une perspective panoramique de reconstruction de processus, peu présente dans les travaux de médiévistique et de terminologie, française ou générale. Il s’agit de montrer l’étendue et l’évolution des emplois scientifiques du français médiéval dans un contexte de néologie (créations, emprunts, calques) qui connaît des phénomènes de stabilisation et de glissement sémantique.</p>

    <p style="text-indent:20px">Actuellement le DFSM est élaboré par une équipe pluridisciplinaire associant lexicologues, philologues, linguistes et historiens des sciences médiévales français et étrangers, avec le soutien de l’EA 4509 STIH de Sorbonne Université, du DIM STCN d’Île-de-France, de l'équipe ELAN de Litt&amp;Arts (UMR 5316, Univ. Grenoble-Alpes, CNRS) et de l'IR* Huma-Num. Une convention a été signée entre Sorbonne Université et l'Université Grenoble Alpes.</p>

    <p>Les entrées du DFSM sont accessibles au fur et à mesure de l'avancement du travail de l'équipe. Ainsi, sont publiées actuellement {{ nbValidEntries}} entrées.</p>

    <p>
      <b>Pour citer le dictionnaire, indiquer la mention suivante&nbsp;:</b> <br/>
      DFSM&nbsp;: <i>Dictionnaire du français scientifique médiéval</i>, Sorbonne Université &amp; Litt&amp;Arts (UMR 5316, Univ. Grenoble Alpes, CNRS). Site internet&nbsp;: &lt;https://dfsm.elan-numerique.fr&gt;.
    </p>
  </div>
{% endblock %}
