{% set advancedform = getAdvancedSearchForm() %}

<div id="advancedSearchModal" class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-xl" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5>
          <i class="fas fa-search-plus"></i> {{"advanced-search"|trans}}
        </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col">
            <div class="mb-2 text-muted">
              {{"entry_search"|trans}}
            </div>
            {{ form_start(advancedform, {'action': path('entry_advanced_search')}) }}
            {{ form_end(advancedform) }}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
