<div class="btn-group">
  <button class="btn btn-sm btn-outline-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown">
    <i class="fas fa-file-download"></i> Exporter
  </button>
  <div class="dropdown-menu dropdown-menu-right">
    <a href="{{ path("entry_xml", {'id': entry.id}) }}" class="dropdown-item">
      XML
    </a>
    <a href="{{ path("entry_pdf", {'id': entry.id}) }}" class="dropdown-item">
      PDF
    </a>
  </div>
</div>
