{% import "domain/macros.html.twig" as domainMacros %}

<div id="initialModal" class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-xl" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5>
          <i class="fas fa-list"></i> {{"index"|trans}}
        </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <h1 class="index"> Initiales </h1>
        <div class="text-center">
        {% for letter in getInitials() %}
          <a class="btn btn-secondary btn-sm" href="{{ path("entry_initial", { "initial": letter.initial } )}}"> {{ letter.initial }} </a>
        {% endfor %}
        </div>

        <h1 class="index"> Domaines </h1>
        <div class="text-center">
        {% set domainMeds = getDomainsMed() %}
        {% for i, domainMed in domainMeds %}
          {% if domainMed.medValueShort and domainMed.medValueShort matches '{^[^/]+$}' %}
          <span class="dropdown">
            <span class="btn-group mb-3 mr-2">
              <a href="{{ path("entry_domain_med",{"med": domainMed.medValueShort}) }}" class="btn btn-sm btn-secondary" type="button">
                {{ domainMacros.displayMed(domainMed) }}
              </a>
              <button type="button" class="btn btn-sm btn-secondary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown">
                <span class="sr-only">Toggle Dropdown</span>
              </button>
              <div class="dropdown-menu dropdown-menu-right">
                  {% for domainMod in getModsFromDomainMed(domainMed) %}
                    <a class="dropdown-item" href="{{ path("entry_domain",{"id": domainMod.id}) }}">
                    {{ domainMacros.displayMod(domainMod) }}
                    </a>
                  {% endfor %}
              </div>
            </span>
          </span>
          {% endif %}
        {% endfor %}
        </div>

      </div>
    </div>
  </div>
</div>
