<button type="button" class="btn btn-sm btn-outline-secondary" data-toggle="modal" data-target="#logModal">
  <i class="fas fa-list"></i> {{"last_logs"|trans}}
</button>

<div id="logModal" class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5>
          <i class="fas fa-clipboard-list"></i> {{"last_logs"|trans}}
        </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <ul class="list-group reset">
        {% if entry.auteur %}
          <li class="list-group-item-secondary list-group-item"> {{entry.auteur}} - ({{"xml_file_creator"|trans}})</li>
        {% endif %}
        {% for log in entry.logs %}
            <li class="list-group-item "> {{ log.date|date }} - {{ log.user.username }} ({{log.comment}})</li>
        {% endfor %}
        </ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
      </div>
    </div>
  </div>
</div>
