{% set form = getSearchForm() %}

<div id="searchModal" class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-xl" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5>
          <i class="fas fa-search"></i> {{"search"|trans}}
        </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col">
            <div class="mb-2 text-muted">
              {{"entry_search"|trans}}
            </div>
            {{ form_start(form, {'action': path('entry_search')}) }}
            {{ form_end(form) }}
          </div>

          <div class="col">
            <div id="results-temp">
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
