{% if entries|length > 0 %}
  <ul class="list-group">
    <li class="list-group-item list-group-item-secondary">
      {{"start_with_entries"|trans}}
    </li>
  {% for entry in entries %}
    <li class="list-group-item">
      <a href="{{path("entry_display", {id: entry.id})}}">{{ entry.lemma }}</a>
    </li>
  {% endfor %}
  </ul>
{% endif %}
