{% extends 'base.html.twig' %}

{% block title %} {{parent()}} {% endblock %}

{% block body %}
  <h1>
    {{ (xr.id) ? "Edition d'un XR" : "Création d'une XR"}}
    {% if xr.id %}
    <a data-toggle="modal" data-target="#delete-modal" href="#" class="float-right btn btn-sm btn-danger" href="#">
        <i class="fas fa-trash"></i> {{"delete_xr"|trans}}
    </a>
    {% endif %}
  </h1>

  <div class="row">
    <div class="col">
      {{ form(form) }}
    </div>
  </div>

  {% if xr.id %}
  <div class="modal fade" id="delete-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">{{"delete_xr"|trans}}</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          {{"delete_xr_text"|trans}}
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">{{"close"|trans}}</button>
          <a href="{{ path("admin_delete_xr", {'id': xr.id}) }}" class="btn btn-danger">{{"yes_delete"|trans}}</a>
        </div>
      </div>
    </div>
  </div>
  {% endif %}
{% endblock %}
