{% extends 'base.html.twig' %}

{% block title %} {{parent()}} {% endblock %}

{% block body %}
  <h1>
    {{ (domain.id) ? "Edition d'un domaine" : "Création d'un domain"}}
  </h1>

  <div class="row">
    <div class="col">
      {{ form(form) }}
    </div>
  </div>

  {% if domain.id and senses|length > 0 %}
  <div class="row">
    <div class="col">
      <ul class="list-group">
        <li class="list-group-item list-group-item-secondary">Sens concernés</li>
        {% for sense in senses %}
        <li class="list-group-item {{ (sense.entry.valid == false) ? "list-group-item-warning" : ""}}">
            <a href="{{ path("entry_display", {'id': sense.entry.id}) }}" class="btn btn-sm btn-secondary">
              <i class="fas fa-eye"></i>
            </a>
            <a class="btn btn-sm btn-secondary" href="{{ path("admin_sense_edit", {"id": sense.id, "entryId": sense.entry.id}) }}">
                <i class="fas fa-pen-square"></i>
            </a>
            {{sense.entry.lemma}} ({{sense.def|striptags}})
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>
  {% endif %}


  {% if domain.id and senses|length < 1%}
  <a data-toggle="modal" data-target="#delete-modal" href="#" class="btn btn-danger btn-sm">{{"domain_delete"|trans}}</a>
  <div class="modal fade" id="delete-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">{{"domain_delete"|trans}}</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          {{"domain_delete_text"|trans}}
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">{{"close"|trans}}</button>
          <a href="{{ path("admin_delete_domain", {'id': domain.id}) }}" class="btn btn-danger">{{"yes_delete"|trans}}</a>
        </div>
      </div>
    </div>
  </div>
  {% endif %}


{% endblock %}
