{% extends 'base.html.twig' %}

{% block title %} {{parent()}} {% endblock %}

{% block body %}
  <h1>
   Liste des domaines
  </h1>
  <a class="btn btn-sm btn-secondary" href="{{path('admin_edit_domain')}}">
    <i class="fas fa-plus"></i> {{"domain_add"|trans}}
  </a>
  <table class="table mt-3">
    <thead>
      <tr>
        <th scope="col">{{'domain_medValue'|trans}}</th>
        <th scope="col">{{"domain_modValue"|trans}}</th>
        <th scope="col">{{'domain_medValueShort'|trans}}</th>
        <th scope="col">{{"domain_modValueShort"|trans}}</th>
        <th scope="col">Sens concernés</th>
        <th scope="col">{{"actions"|trans}}</th>
      </tr>
    </thead>
    <tbody>
      {% for domain in domains %}
      <tr>
        <td>{{domain.medValue}}</td>
        <td>{{domain.modValue}}</td>
        <td>{{domain.medValueShort}}</td>
        <td>{{domain.modValueShort}}</td>
        <td>
          {{ getSensesCountByDom(domain) }}
        </td>
        <td>
          <a class="btn btn-sm btn-secondary" href="{{path('admin_edit_domain',{'id':domain.id})}}">
            <i class="fas fa-edit"></i> {{"domain_edit"|trans}}
          </a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
