{% macro display(domain) %}
{{ domain.medValue ? domain.medValue : domain.medValueShort }} -
{{ domain.modValue ? domain.modValue : domain.modValueShort }}
{% endmacro %}

{% macro displayMod(domain) %}
{{ domain.modValue ? domain.modValue : domain.modValueShort }}
{% endmacro %}

{% macro displayMed(domain) %}
{{ domain.medValue ? domain.medValue : domain.medValueShort }}
{% endmacro %}
