{% extends 'base.html.twig' %}

{% block title %} {{parent()}} {{content.name}}{% endblock %}

{% block body %}
  <h1>
    {{content.name|trans|raw}}
    {% if isAdmin %}
      <span class="float-right">
        <a href="{{ path("edito_edit", {'id': content.id}) }}" class="btn btn-secondary">
          <i class="fas fa-pen-square"></i> {{"modify"|trans}}
        </a>
      </span>
    {% endif %}
  </h1>

  <div class="row">
    <div class="col">
      {{ content.value | raw }}
    </div>
  </div>
{% endblock %}
