{% extends 'base.html.twig' %}

{% block title %} {{parent()}} édition {{content.name}}{% endblock %}

{% block body %}
  <h1>
    Edition de <span class="text-muted">{{content.name|trans}}</span>
  </h1>
  <div class="row">
    <div class="col">
      {{ form(form) }}
    </div>
  </div>

  {{ tinymce_init() }}
{% endblock %}
