{% extends 'base.html.twig' %}

{% block title %} {{parent()}} {% endblock %}

{% block body %}
  <h1>
    {{ (sense.id) ? "Edition d'un sens" : "Création d'un sens"}} pour l'entrée <span class="text-muted">{{sense.entry.lemma}}</span>
    {% if sense.id %}
    <span class="float-right">
      <a href="{{ path("admin_entry_edit", {id: sense.entry.id}) }}" class="btn btn-sm btn-secondary">
           <i class="fas fa-arrow-left"></i> Retour à l'entrée
      </a>
      {% if isSuperAdmin %}
      <a data-toggle="modal" data-target="#delete-modal" href="#" class="btn btn-sm btn-danger" href="#">
          <i class="fas fa-trash"></i> {{"delete_sense"|trans}}
      </a>
      {% endif %}
    </span>
    {% endif %}
  </h1>

  <div class="row">
    <div class="col">
      {{ form(form) }}

      {% if sense.imgPath %}
        <div id="sense-image">
          <p>
            <img width="100%" src="{{ asset("data/images/" ~ sense.imgPath) }}"/>
          </p>
          <a data-toggle="modal" data-target="#delete-image-modal" href="#" class="btn btn-danger">Supprimer l'image</a>
        </div>
      {% endif %}
    </div>
    <div class="col">
      {% if sense.id %}
      <ul class="list-group">
        <li class="list-group-item list-group-item-secondary">
            Notes
            <a class="float-right btn btn-sm btn-secondary" href="{{ path("admin_note_edit", {"senseId": sense.id}) }}">
                <i class="fas fa-plus-square"></i> Ajouter une note
            </a>
          </li>
        {% if sense.notes is not empty %}
          {% for i, note in sense.notes  %}
          <li class="list-group-item">
            <a class="btn btn-sm btn-secondary" href="{{ path("admin_note_edit", {"id": note.id, "senseId": sense.id}) }}">
               <i class="fas fa-pen-square"></i> {{"modify"|trans}}
            </a>
            {% for xr in note.xrs %}
            --   <span class="text-muted">{{ xr.ref |truncate(25)}}</span> <span class="text-muted">{{ xr.gloss | striptags | truncate(25, true) | raw }}</span>
            {% endfor %}
          </li>
          {% endfor %}
        {% endif %}
      </ul>

      <ul class="mt-3 list-group">
        <li class="list-group-item list-group-item-secondary">
            Citations
            <a class="float-right btn btn-sm btn-secondary" href="{{ path("admin_cit_edit", {"senseId": sense.id}) }}">
                <i class="fas fa-plus-square"></i> Ajouter une citation
            </a>
          </li>
        {% if sense.cits is not empty %}
          {% for i, cit in sense.cits  %}
          <li class="list-group-item">
            <a class="btn btn-sm btn-secondary" href="{{ path("admin_cit_edit", {"id": cit.id, "senseId": sense.id}) }}">
               <i class="fas fa-pen-square"></i> {{"modify"|trans}}
            </a>
            <span class="text-muted">{{ cit.quote | raw }}
          </li>
          {% endfor %}
        {% endif %}
      </ul>
      {% endif %}
    </div>
  </div>

  {% if sense.id %}
    {% if isSuperAdmin %}
    <div class="modal fade" id="delete-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">{{"delete_sense"|trans}}</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            {{"delete_sense_text"|trans}}
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">{{"close"|trans}}</button>
            <a href="{{ path("admin_delete_sense", {'id': sense.id}) }}" class="btn btn-danger">{{"yes_delete"|trans}}</a>
          </div>
        </div>
      </div>
    </div>
    {% endif %}

  <div class="modal fade" id="delete-image-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">{{"delete_sense_image"|trans}}</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          {{"delete_sense_image_text"|trans}}
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">{{"close"|trans}}</button>
          <a id="delete-sense-image" data-sense="{{ sense.id }}" href="#" class="btn btn-danger">{{"yes_delete"|trans}}</a>
        </div>
      </div>
    </div>
  </div>
  {% endif %}
  {{ tinymce_init() }}
{% endblock %}

{% block javascripts %}
  {{parent()}}
  <script src="{{ asset("build/js/edit-sense.js") }}"></script>
{% endblock %}
